{erl_opts, [debug_info, warn_unused_vars, warn_shadow_vars, warn_unused_import]}.
{eunit_opts, [verbose]}.
{plugins, [pc]}.

{port_specs,
 [
  {"priv/snappiest_nif.so",   ["c_src/snappiest.cc", "c_src/snappy-sinksource.cc", "c_src/snappy-stubs-internal.cc", "c_src/snappy.cc"]}
 ]}.
{artifacts,
 ["priv/snappiest_nif.so"]}.

{provider_hooks,
  [{post,
    [{compile, {pc, compile}},
     {clean, {pc, clean}}]}]}.
